#head1{text-align: center;}
.pic1{display: block; margin-left: auto;margin-right: auto;width: 50%;}
body {background-color: rgb(0, 0, 0);}
h1,h3   {color: rgb(255, 255, 255);}
p  ,h4  {color:white; text-align: center;}
        